<!DOCTYPE html>
<html>
<head>
	<title>TheyTube - Watch free videos online</title>
<link rel="stylesheet" href="css/spectre.min.css">
<link rel="stylesheet" href="css/spectre-icons.min.css">
<meta name="theme-color" content="#ddd">
<script src="js/vue.js"></script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
  <script type="text/javascript">
  		window.serverAddr='192.168.1.150:8090'
  		function setCookie(cname,cvalue,exdays){
  		  var d = new Date();
  		  d.setTime(d.getTime()+(exdays*24*60*60*1000));
  		  var expires = "expires="+d.toGMTString();
  		  document.cookie = cname + "=" + cvalue + "; " + expires;
  		}
  		function getCookie(cname){
  		  var name = cname + "=";
  		  var ca = document.cookie.split(';');
  		  for(var i=0; i<ca.length; i++) 
  		  {
  		    var c = ca[i].trim();
  		    if (c.indexOf(name)==0) return c.substring(name.length,c.length);
  		  }
  		  return "";
  		}
      function showInfo(str) {
        window.modalInfo.Info=str
        document.getElementById("modal-info").className='modal active'
      }
  		function login() {
        var result=document.getElementById("login-info")
  			var obj=new Object()
  			obj.Email=document.getElementById("login-email").value
  			obj.Password=document.getElementById("login-password").value
  			if (obj.Email=="") {
          result.innerHTML='Email不能为空'
  				return
  			}
  			if (obj.Password=="") {
          result.innerHTML='密码不能为空'
  				return
  			}
  			var me=document.getElementById("login-submit")
  			me.disabled='disabled'
  			document.getElementById('login-progress').style.display = 'block'
  			var ws=new WebSocket("ws://"+window.serverAddr+"/wsLogin")
  			ws.onopen=function(evt) {
  				console.log('on open')
  				ws.send(JSON.stringify(obj))
  			}
  			ws.onmessage=function(evt) {
  				console.log(evt.data)
  				var obj=JSON.parse(evt.data)
  				if (obj.State=="OK") {
  					setCookie("TheyTubeSessionID",obj.Info,365)
  					location.href='index.html'
  				}else if (obj.State=="ERR") {
  					result.innerHTML=obj.Info
  				}
  				ws.close()
  			}
			  ws.onclose=function(evt){
				  console.log('on close')
				  document.getElementById('login-progress').style.display = 'none'
  				me.disabled=''
        }
        ws.onerror=function(evt){
        		console.log(evt.data)
        		result.innerHTML="未联网"
        }
  		}
  		function register() {
  			var result=document.getElementById("register-info")
        var obj=new Object()
        obj.Email=document.getElementById("register-email").value
        obj.Password=document.getElementById("register-password").value
        if (obj.Email=="") {
          result.innerHTML='Email不能为空'
          return
        }
        if (obj.Password=="") {
          result.innerHTML='密码不能为空'
          return
        }
        var me=document.getElementById("register-submit")
        me.disabled='disabled'
        document.getElementById('register-progress').style.display = 'block'
        var ws=new WebSocket("ws://"+window.serverAddr+"/wsRegister")
        ws.onopen=function(evt) {
          console.log('on open')
          ws.send(JSON.stringify(obj))
        }
        ws.onmessage=function(evt) {
          console.log(evt.data)
          var obj=JSON.parse(evt.data)
          if (obj.State=="OK") {
            setCookie("TheyTubeSessionID",obj.Info,365)
            location.href='index.html'
          }else if (obj.State=="ERR") {
            result.innerHTML=obj.Info
          }
          ws.close()
        }
        ws.onclose=function(evt){
          console.log('on close')
          document.getElementById('register-progress').style.display = 'none'
          me.disabled=''
        }
        ws.onerror=function(evt){
            console.log(evt.data)
            result.innerHTML="未联网"
        }
  		}
      function switchTab(target,str_id) {
        document.getElementById("tab-home").className='tab-item'
        document.getElementById("tab-new").className='tab-item'
        document.getElementById("tab-me").className='tab-item'
        target.className='tab-item active'
        document.getElementById("homePage").style.display = 'none'
        document.getElementById("newPage").style.display = 'none'
        document.getElementById("mePage").style.display = 'none'
        document.getElementById(str_id).style.display = 'block'
      }
      function getNewData(pageNum,refresh) {
        if (pageNum=="") {
          pageNum="1"
        }
        var obj=new Object()
        obj.State="new"
        obj.Info=pageNum
        var ws=new WebSocket("ws://"+window.serverAddr+"/wsNew")
        ws.onopen=function(evt) {
          console.log('new on open')
          ws.send(JSON.stringify(obj))
        }
        ws.onmessage=function(evt) {
          console.log('new msg:'+evt.data)
          var gobj=JSON.parse(evt.data)
          if (gobj.State=="OK") {
            if (refresh) {
              window.newPage.videos=gobj.Data
            }
          }else{
            console.log('new err : '+gobj.Info)
          }
          ws.close()
        }
        ws.onclose=function(evt) {
          console.log('new on close')
        }
        ws.onerror=function(evt) {
          console.log('new on err : '+evt.data)
        }
      }
  		function doOnLoad() {
  			var sid=getCookie('TheyTubeSessionID')
        if (sid==''||sid==null) {return;}
        var obj=new Object()
        obj.State='home'
        obj.Info=sid
        var ws=new WebSocket("ws://"+window.serverAddr+"/wshome")
        ws.onopen=function(evt) {
          console.log('home on open')
          ws.send(JSON.stringify(obj))
        }
        ws.onmessage=function(evt) {
          console.log('home on msg:'+evt.data)
          var gobj=JSON.parse(evt.data)
          if (gobj.State=="OK") {
            window.mePage.LoggedIn=true
            window.mePage.Email=gobj.Info
            window.mePage.EmailURL='/u?email='+encodeURIComponent(gobj.Info)
          }else if (gobj.State=="ERR") {
            setCookie('TheyTubeSessionID','',0)
            showInfo(gobj.Info)
          }
          ws.close()
        }
        ws.onclose=function(evt) {console.log('home on close');}
        ws.onerror=function(evt) {console.log('home on err:'+evt.data);}
  		}
  </script>
  <style>
  .tab-content{
    display: none;
    max-width: 700px;
    width: 100%;
  }
	</style>
</head>
<body style="padding: 0px;">
<div style="display: flex;flex-direction: column;align-items: center;box-shadow: 2px 2px 2px #ddd;">
  <div style="display: flex;width: 100%; justify-content: space-between;align-items: center;">
    <span style="padding: 5px;color: #000;"><b>TheyTube</b></span>
    <i class="icon icon-search" style="margin-right: 10px;color: #000;"></i>
  </div>
  <div style="max-width: 700px;width: 100%;">
    <ul class="tab tab-block" style="margin: 0px;">
      <li class="tab-item active" id="tab-home" onclick="switchTab(this,'homePage')">
        <a>首页</a>
      </li>
      <li class="tab-item" id="tab-new" onclick="switchTab(this,'newPage')">
        <a>新上传</a>
      </li>
      <li class="tab-item" id="tab-me" onclick="switchTab(this,'mePage')">
        <a>我</a>
      </li>
    </ul>
  </div>
</div>
<div style="display: flex;flex-direction: column;align-items: center;">
<div id="homePage" class="tab-content" style="display: block;">
 home
</div>
<div id="newPage" class="tab-content">
  <div v-for="video in videos" class="card">
    <div class="card-image">
      <img :src="video.Cover" class="img-responsive">
    </div>
    <div class="card-header">
      <div class="card-title h5">{{video.Title}}</div>
      <div class="card-subtitle text-gray">{{video.ShortIntro}}</div>
    </div>
  </div>
</div>
<div id="mePage" class="tab-content">
  <div v-if="LoggedIn">
    <ul class="menu">
      <li class="divider" data-content="账号"></li>
      <li class="menu-item">
          <a :href="EmailURL"><i class="icon icon-people"></i> {{Email}}</a>
      </li>
      <li class="divider"></li>
      <li class="menu-item">
        <a onclick="document.getElementById('modal-settings').className='modal active'"><i class="icon icon-menu" ></i> 设置</a>
      </li>
    </ul>
  </div>
  <div v-else>
    <ul class="menu">
      <li class="divider" data-content="账号"></li>
      <li class="menu-item">
          <a onclick="document.getElementById('modal-login').className='modal active'"><i class="icon icon-people"></i> 登录</a>
          <a onclick="document.getElementById('modal-register').className='modal active'"><i class="icon icon-people"></i> 注册</a>
      </li>
    </ul>
  </div>
</div>
</div>

<div class="modal" id="modal-login">
  <div class="modal-overlay"></div>
  <div class="modal-container">
    <div class="modal-header">
      <button class="btn btn-clear float-right" onclick="document.getElementById('modal-login').className='modal'"></button>
      <div class="modal-title"><b>登录</b></div>
    </div>
    <div class="modal-body">
      <div class="content">
        <input type="text" id="login-email" name="email" class="form-input" placeholder="Email"><br>
        <input type="password" id="login-password" name="password" class="form-input" placeholder="密码" maxlength="25" minlength="6">
        <span id="login-info" style="color: red;"></span>
        <div class="loading" style="margin-top: 5px;display: none;" id="login-progress"></div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-lg" onclick="login()" id="login-submit">登录</button>
    </div>
  </div>
</div>
<div class="modal" id="modal-register">
  <div class="modal-overlay"></div>
  <div class="modal-container">
    <div class="modal-header">
      <button class="btn btn-clear float-right" onclick="document.getElementById('modal-register').className='modal'"></button>
      <div class="modal-title"><b>注册</b></div>
    </div>
    <div class="modal-body">
      <div class="content">
        <input type="text" id="register-email" name="email" class="form-input" placeholder="Email"><br>
        <input type="password" id="register-password" name="password" class="form-input" placeholder="密码" maxlength="25" minlength="6">
        <span id="register-info" style="color: red;"></span>
        <div class="loading" style="margin-top: 5px;display: none;" id="register-progress"></div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-lg" onclick="register()" id="register-submit">注册</button>
    </div>
  </div>
</div>
<div class="modal" id="modal-info">
  <div class="modal-overlay"></div>
  <div class="modal-container">
    <div class="modal-header">
      <button class="btn btn-clear float-right" onclick="document.getElementById('modal-info').className='modal'"></button>
      <div class="modal-title"><b>提示</b></div>
    </div>
    <div class="modal-body">
      <div class="content">
        {{Info}}
      </div>
    </div>
  </div>
</div>
<div class="modal" id="modal-settings">
  <div class="modal-overlay"></div>
  <div class="modal-container">
    <div class="modal-header">
      <button class="btn btn-clear float-right" onclick="document.getElementById('modal-settings').className='modal'"></button>
      <div class="modal-title"><b>设置</b></div>
    </div>
    <div class="modal-body">
      <div class="content">
        <ul class="menu">
          <li class="menu-item"><a onclick="setCookie('TheyTubeSessionID','',0);location.href='index.html';"><i class="icon icon-forward"></i>退出账号</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  window.newPage=new Vue({
    el:'#newPage',
    data:{
      videos:[]
    }
  })
  window.mePage=new Vue({
    el:'#mePage',
    data:{
      LoggedIn:false,
      Email:'',
      EmailURL:''
    }
  })
  window.modalInfo=new Vue({
    el:"#modal-info",
    data:{
      Info:''
    }
  })
  setTimeout('doOnLoad()', 500)
  setTimeout("getNewData('1',true)", 500)
</script>
</body>
</html>